@import './base.css';
@import './tool.scss';

.main-container {
    background-color: #eee;
}

/*顶部广告*/
.top-banner {
    min-height: 80px;
    background-color: rgb(190, 139, 76);

    @at-root .top-banner-inner {
        width: 1190px;
        margin: 0 auto;
        height: 80px;
        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            background-image: url("../images/top-banner.jpg");
        }
    }
}

/*顶部导航条*/
.shortcut{
    background-color: #e3e4e5;
    min-width: 1190px;
    font-size: 12px;
    .shortcut-inner{
        height: 31px;
        width: 1190px;
        line-height: 31px;
        margin: 0 auto;
        position: relative;
        .shortcut-inner-right{
            height: 31px;
            line-height: 31px;
            width: 790px;
            position: absolute;
            right: 0;
            top: 0;
            .sc-item{
                width: 75px;
                height: 30px;
                line-height: 30px;
                float: left;
                margin: 0 3px;
                border: 1px solid #e3e4e5;
                border-bottom: none;
                text-align: center;
                a{
                    display: inline-block;
                    width: 70px;
                    height: 30px;
                    color: $grey;
                    &:hover{
                        color: $hot-red;
                    }
                }
            }
            .hot{
                color: $hot-red;
            }
        }
    }
}
.split1{
    float: left;
    width: 1px;
    height: 10px;
    background-color: $grey;
    margin: 11px 4px;
    font-size: 12px;
    overflow: hidden;
}
.city-dropdown{
    position: absolute;
    left: 215px;
    top: 0;
}
// 登录项超出部分隐藏
.sc-login{
    width: 130px !important;
    height: 32px;
    a{
        width: 100% !important;
    }
}

/*城市列表*/
.dropdown-menu{
    display: none;
}
/*顶端导航统一下拉菜单*/
.shortcut-dropdown.hover{
    border: 1px solid #ddd !important;
    border-bottom: none;
    .dropdown-menu{
        display: block;
    }
    .dropdown-current{
        background-color: #fff;
    }
}
// 城市列表下拉菜单
.city-dropdown{
    border: 1px solid #e3e4e5;
    border-bottom: none;
    .city-current{
        height: 30px;
        line-height: 30px;
        @extend %sc-dropdown-cur;
        .icon-location{
            color: $hot-red;
        }
    }
    .city-wrap{
        @include sc-dropdown-wrap(337px, -1px);
        .city{
            @include sc-dropdown-item(46px, 30px, #f4f4f4, center);
        }
    }
}
// 我的京东下拉菜单
.myjd-dropdown{
    position: relative;
    .myjd-current{
        @extend %sc-dropdown-cur;
    }
    .myjd-wrap{
        @include sc-dropdown-wrap(220px, -1px);
        .myjd{
            @include sc-dropdown-item(100px, 26px);
        }
        .split2{
            @extend %split2;
        }
    }
}
// 企业采购下拉菜单
.cg-dropdown{
    position: relative;
    .cg-current{
        color: $hot-red !important;
        @extend %sc-dropdown-cur;
    }
    .cg-wrap{
        @include sc-dropdown-wrap(180px, -1px);
        .cg{
            @include sc-dropdown-item(75px, 26px);
        }
    }
}
// 客户服务下拉菜单
.customer-dropdown{
    position: relative;
    .customer-current{
        @extend %sc-dropdown-cur;
    }
    .customer-wrap{
        @include sc-dropdown-wrap(160px, -96px);
        .customer{
            @include sc-dropdown-item(70px, 26px);
        }
        .split2{
            @extend %split2;
        }
        .customer-bold{
            color: #666;
            font-weight: bold;
            width: 140px;
            padding: 0 5px;
        }
    }
}

/*头部搜索栏*/
.header{
    height: 140px;
}
.header-w{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    .logo{
        width: 190px;
        height: 170px;
        position: absolute;
        left: 0;
        top: -30px;
        background-color: pink;
    }
    .search{
        display: block;
        width: 550px;
        height: 35px;
        position: absolute;
        left: 320px;
        top: 25px;
        .search-input{
            width: 450px;
            height: 100%;
            outline: none;
            padding: 0 40px 0 5px;
            color: #999;
        }
        .search-icon{
            display: inline-block;
            width: 50px;
            height: 100%;
            background-color: red;
            vertical-align: top;
            text-align: center;
            line-height: 35px;
            .icon-search{
                display: inline-block;
                color: #fff;
                font-size: 20px;
                margin-top: 3px;
            }
        }
        .icon-zhaoxiangji{
            position: absolute;
            top: 6px;
            right: 64px;
            font-size: 24px;
            color: $grey;
        }
    }
    .cart{
        display: block;
        width: 190px;
        height: 35px;
        position: absolute;
        right: 99px;
        top: 25px;
        background-color: #fff;
        text-align: center;
        line-height: 35px;
        color: $hot-red;
        .cart-txt{
            margin-left: 5px;
        }
        .badge{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            font-size: 8px;
            text-align: center;
            line-height: 16px;
            color: #fff;
            background-color: $hot-red;
            position: absolute;
            top: 6px;
            right: 30px;
        }
    }
    .hotwords{
        width: 550px;
        position: absolute;
        left: 320px;
        top: 65px;
        a{
            font-size: 10px;
            color: $grey;
            margin-left: 5px;
        }
        .hot{
            color: $hot-red;
        }
    }
    .header-nav{
        width: 790px;
        height: 60px;
        position: absolute;
        left: 200px;
        bottom: 0;
        overflow: hidden;
        .header-nav-group{
            float: left;
            margin-top: 25px;
            li{
                float: left;
                margin-left: 25px;
                a{
                    color: #999;
                }
                a:hover{
                    color: $hot-red;
                }
            }
        }
        .split1{
            float: left;
            margin-left: 25px;
            margin-top: 30px;
        }
    }
}

/*主体内容*/
.content-wrap{
    position: relative;
    .content{
        width: 1190px;
        height: 480px;
        position: relative;
        margin: 0 auto;
    }
}
/*左侧导航*/
.sidebar{
    background-color: #636363;
    border-top: 1px solid #eee;
    position: relative;
    .col1-list{
        height: 480px;
        padding-top: 6px;
        .col1-item{
            height: 26px;
            line-height: 26px;
            padding-left: 18px;
            &:hover{
                background-color: #d9d9d9;
            }
            a{
                color: #626262;
                &:hover{
                    color: $hot-red;
                }
            }
            .split3{
                color: #626262;
            }
        }
    }
}
/*左侧导航弹出菜单*/
.sidebar-pop-wrap{
    width: 798px;
    height: 560px;
    min-height: 478px;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    position: absolute;
    left: 190px;
    top: 0;
    display: none;
    .sidebar-pop{
        display: none;
    }
}
.sidebar-pop-wrap.hover{
    display: block;
    .sidebar-pop{
        display: none;
    }
    .sidebar-pop.hover{
        display: block;
    }
}

.sidebar-pop-col1{
    width: 600px;
    float: left;
    .pop-title{
        padding: 5px;
        margin: 15px 0 5px;
        overflow: hidden;
        font-size: 12px;
        a{
            height: 20px;
            line-height: 20px;
            text-align: center;
            color: #eee;
            background-color: #333;
            float: left;
            padding: 2px 8px;
            margin-left: 10px;
            .icon-youjiantou{
                font-size: 12px;
                margin: 2px 0 0 2px;
            }
            &:hover{
                background-color: #aaa;
            }
        }
    }
    .pop-content{
        padding: 5px;
        margin-bottom: 5px;
        overflow: hidden;
        font-size: 12px;
        dl{
            overflow: hidden;
            padding-left: 80px;
            position: relative;
            margin-bottom: 5px;
            dt{
                position: absolute;
                left: 0;
                top: 6px;
                width: 80px;
                height: 18px;
                line-height: 18px;
                font-weight: 800;
                text-align: right;
                .icon-youjiantou{
                    font-size: 12px;
                    margin: 2px 0 0 2px;
                }
            }
            dd{
                height: 18px;
                line-height: 18px;
                text-align: center;
                padding: 2px 8px;
                margin: 3px 2px 3px 4px;
                float: left;
                border-left: 1px solid #ddd;
            }
            a{
                color: #636363;
                &:hover{
                    color: $hot-red;
                }
            }
        }
    }
}
.sidebar-pop-col2{
    width: 198px;
    float: left;
    margin-top: 20px;
    .sm-logo-wrap1{
        overflow: hidden;
        a{
            width: 83px;
            height: 35px;
            float: left;
            margin: 0 0 1px 1px;
        }
    }
    .sm-logo-wrap2{
        margin-top: 10px;
        a{
            display: block;
            margin-top: 1px;
        }
    }
}

/*右侧主体列*/
.con-col1, .con-col2, .con-col3, .con-col4{
    height: 480px;
    background-color: #fff;
}
.con-col1, .con-col2, .con-col3{
    margin-right: 10px;
    float: left;
}
.con-col4 {
    float: right;
}
.con-col1, .con-col2, .con-col4{
    width: 190px;
}
.con-col3 {
    width: 590px;
}