@import './base.css';
@import './tool.scss';

.main-container {
    background-color: #eee;
}

/*顶部广告*/
.top-banner {
    min-height: 80px;
    background-color: rgb(190, 139, 76);

    @at-root .top-banner-inner {
        width: 1190px;
        margin: 0 auto;
        height: 80px;
        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            background-image: url("../images/top-banner.jpg");
        }
    }
}

/*顶部导航条*/
.shortcut{
    background-color: #e3e4e5;
    min-width: 990px;
    font-size: 12px;
    .shortcut-inner{
        height: 32px;
        line-height: 32px;
        margin: 0 auto;
        position: relative;
        @at-root .city-dropdown{
            position: absolute;
            left: 200px;
            top: 0;
        }
        .shortcut-inner-right{
            line-height: 30px;
            width: 760px;
            position: absolute;
            right: 0;
            top: 0;
            .sc-item{
                float: left;
                margin: 0 5px;
                border: 1px solid #e3e4e5;
                border-bottom: none;
                a{
                    display: inline-block;
                    width: 70px;
                    height: 30px;
                    color: $grey;
                    &:hover{
                        color: $hot-red;
                    }
                }
            }
            .split1{
                float: left;
                width: 1px;
                height: 10px;
                background-color: $grey;
                margin: 11px 4px;
                font-size: 12px;
                overflow: hidden;
            }
            .hot{
                color: $hot-red;
            }
        }
    }
}
// 登录项超出部分隐藏
.sc-login{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*城市列表*/
.dropdown-menu{
    display: none;
}
/*顶端导航统一下拉菜单*/
.shortcut-dropdown.hover{
    .dropdown-menu{
        display: block;
    }
    .dropdown-current{
        background-color: #fff;
        border-bottom-color: transparent;
    }
}
// 城市列表下拉菜单
.city-dropdown{
    position: relative;
    .city-current{
        @extend %sc-dropdown-cur;
        .icon-location{
            color: $hot-red;
        }
    }
    .city-wrap{
        @include sc-dropdown-wrap(337px);
        .city{
            @include sc-dropdown-item(46px, 30px, #f4f4f4, center);
        }
    }
}
// 我的京东下拉菜单
.myjd-dropdown{
    position: relative;
    .myjd-current{
        @extend %sc-dropdown-cur;
    }
    .myjd-wrap{
        @include sc-dropdown-wrap(220px);
        .myjd{
            @include sc-dropdown-item(100px, 26px);
        }
        .split2{
            @extend %split2;
        }
    }
}
// 企业采购下拉菜单
.cg-dropdown{
    position: relative;
    .cg-current{
        color: $hot-red !important;
        @extend %sc-dropdown-cur;
    }
    .cg-wrap{
        @include sc-dropdown-wrap(180px);
        .cg{
            @include sc-dropdown-item(75px, 26px);
        }
    }
}
// 客户服务下拉菜单
.customer-dropdown{
    position: relative;
    .customer-current{
        @extend %sc-dropdown-cur;
    }
    .customer-wrap{
        @include sc-dropdown-wrap(160px, -101px);
        .customer{
            @include sc-dropdown-item(70px, 26px);
        }
        .split2{
            @extend %split2;
        }
        .customer-bold{
            color: #666;
            font-weight: bold;
            width: 140px;
            padding: 0 5px;
        }
    }
}

/*左侧导航*/
.sidebar{
    width: 200px;
    height: 600px;
    background-color: #abcdef;
    display: inline-block;
}

/*右侧主体*/
.section{
    width: 600px;
    height: 600px;
    margin-left: 15px;
    background-color: orchid;
    display: inline-block;
}