@import './base.css';
@import './tool.scss';

.main-container {
    background-color: #eee;
}

/*顶部广告*/
.top-banner {
    min-height: 80px;
    background-color: rgb(190, 139, 76);

    @at-root .top-banner-inner {
        width: 1190px;
        margin: 0 auto;
        height: 80px;
        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            background-image: url("../images/top-banner.jpg");
        }
    }
}

/*顶部导航条*/
.shortcut{
    background-color: #e3e4e5;
    min-width: 990px;
    font-size: 12px;
    .shortcut-inner{
        height: 30px;
        line-height: 30px;
        margin: 0 auto;
        position: relative;
        @at-root #city-dropdown{
            position: absolute;
            left: 200px;
            top: 0;
        }
        .shortcut-inner-right{
            height: 30px;
            width: 700px;
            position: absolute;
            right: 0;
            top: 0;
            li{
                float: left;
                margin-right: 10px;
                a{
                    padding: 2px;
                    color: $grey;
                    &:hover{
                        color: $hot-red;
                    }
                }
                &::after{
                    content: "|";
                    color: $grey;
                    font-size: 12px;
                    margin-left: 10px;
                }
                &:last-child::after{
                    content: "";
                }
            }
            .hot{
                color: $hot-red;
            }
        }
    }
}
/*城市列表*/
#dropdown-menu{
    position: relative;
    display: none;
}
#city-dropdown{
    .city-current{
        width: 60px;
        text-align: center;
        padding: 0 5px;
    }
    .city-wrap{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        width: 337px;
        border: 1px solid #eee;
        border-top-color: transparent;
        padding: 5px;
        background-color: #fff;
        .city{
            float: left;
            margin: 0 10px;
            a{
                display: block;
                padding: 0 5px;
                &:hover{
                    color: $hot-red;
                    background-color: #f4f4f4;
                }
            }
        }
    }
}
#city-dropdown.hover{
    #dropdown-menu{
        display: block;
    }
}
#city-dropdown.hover{
    .city-current{
        background-color: #fff;
        border: 1px solid #eee;
        border-bottom-color: transparent;
    }
}


/*左侧导航*/
.sidebar{
    width: 200px;
    height: 600px;
    background-color: #abcdef;
    display: inline-block;
}

/*右侧主体*/
.section{
    width: 600px;
    height: 600px;
    margin-left: 15px;
    background-color: orchid;
    display: inline-block;
}