@charset "UTF-8";
@import url(./base.css);
/* sass自定义 */
.city-dropdown .city-current, .myjd-dropdown .myjd-current, .cg-dropdown .cg-current, .customer-dropdown .customer-current {
  width: 60px;
  line-height: 29px;
  padding-left: 5px;
  color: #999;
}

.myjd-dropdown .myjd-wrap .split2, .customer-dropdown .customer-wrap .split2 {
  float: left;
  height: 1px;
  width: 100%;
  margin: 5px 0;
  border-top: 1px solid #eee;
}

.main-container {
  background-color: #eee;
}

/*顶部广告*/
.top-banner {
  min-height: 80px;
  background-color: #be8b4c;
}

.top-banner-inner {
  width: 1190px;
  margin: 0 auto;
  height: 80px;
}

.top-banner-inner a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("../images/top-banner.jpg");
}

/*顶部导航条*/
.shortcut {
  background-color: #e3e4e5;
  min-width: 1190px;
  font-size: 12px;
}

.shortcut .shortcut-inner {
  height: 31px;
  width: 1190px;
  line-height: 31px;
  margin: 0 auto;
  position: relative;
}

.shortcut .shortcut-inner .shortcut-inner-right {
  height: 31px;
  line-height: 31px;
  width: 790px;
  position: absolute;
  right: 0;
  top: 0;
}

.shortcut .shortcut-inner .shortcut-inner-right .sc-item {
  width: 75px;
  height: 30px;
  line-height: 30px;
  float: left;
  margin: 0 3px;
  border: 1px solid #e3e4e5;
  border-bottom: none;
  text-align: center;
}

.shortcut .shortcut-inner .shortcut-inner-right .sc-item a {
  display: inline-block;
  width: 70px;
  height: 30px;
  color: #999;
}

.shortcut .shortcut-inner .shortcut-inner-right .sc-item a:hover {
  color: #f10215;
}

.shortcut .shortcut-inner .shortcut-inner-right .hot {
  color: #f10215;
}

.split1 {
  float: left;
  width: 1px;
  height: 10px;
  background-color: #999;
  margin: 11px 4px;
  font-size: 12px;
  overflow: hidden;
}

.city-dropdown {
  position: absolute;
  left: 215px;
  top: 0;
}

.sc-login {
  width: 130px !important;
  height: 32px;
}

.sc-login a {
  width: 100% !important;
}

/*城市列表*/
.dropdown-menu {
  display: none;
}

/*顶端导航统一下拉菜单*/
.shortcut-dropdown.hover {
  border: 1px solid #ddd !important;
  border-bottom: none;
}

.shortcut-dropdown.hover .dropdown-menu {
  display: block;
}

.shortcut-dropdown.hover .dropdown-current {
  background-color: #fff;
}

.city-dropdown {
  border: 1px solid #e3e4e5;
  border-bottom: none;
}

.city-dropdown .city-current {
  height: 30px;
  line-height: 30px;
}

.city-dropdown .city-current .icon-location {
  color: #f10215;
}

.city-dropdown .city-wrap {
  position: absolute;
  top: 30px;
  left: -1px;
  z-index: 1;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top-color: transparent;
  background-color: #fff;
  width: 337px;
  padding: 5px;
}

.city-dropdown .city-wrap .city {
  float: left;
  margin: 0 5px;
  width: 46px;
  height: 30px;
}

.city-dropdown .city-wrap .city a {
  display: block;
  padding: 0 5px;
  text-align: center;
  color: #999;
}

.city-dropdown .city-wrap .city a:hover {
  color: #f10215;
  background-color: #f4f4f4;
}

.myjd-dropdown {
  position: relative;
}

.myjd-dropdown .myjd-wrap {
  position: absolute;
  top: 30px;
  left: -1px;
  z-index: 1;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top-color: transparent;
  background-color: #fff;
  width: 220px;
  padding: 5px;
}

.myjd-dropdown .myjd-wrap .myjd {
  float: left;
  margin: 0 5px;
  width: 100px;
  height: 26px;
}

.myjd-dropdown .myjd-wrap .myjd a {
  display: block;
  padding: 0 5px;
  text-align: left;
  color: #999;
}

.myjd-dropdown .myjd-wrap .myjd a:hover {
  color: #f10215;
  background-color: #fff;
}

.cg-dropdown {
  position: relative;
}

.cg-dropdown .cg-current {
  color: #f10215 !important;
}

.cg-dropdown .cg-wrap {
  position: absolute;
  top: 30px;
  left: -1px;
  z-index: 1;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top-color: transparent;
  background-color: #fff;
  width: 180px;
  padding: 5px;
}

.cg-dropdown .cg-wrap .cg {
  float: left;
  margin: 0 5px;
  width: 75px;
  height: 26px;
}

.cg-dropdown .cg-wrap .cg a {
  display: block;
  padding: 0 5px;
  text-align: left;
  color: #999;
}

.cg-dropdown .cg-wrap .cg a:hover {
  color: #f10215;
  background-color: #fff;
}

.customer-dropdown {
  position: relative;
}

.customer-dropdown .customer-wrap {
  position: absolute;
  top: 30px;
  left: -96px;
  z-index: 1;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top-color: transparent;
  background-color: #fff;
  width: 160px;
  padding: 5px;
}

.customer-dropdown .customer-wrap .customer {
  float: left;
  margin: 0 5px;
  width: 70px;
  height: 26px;
}

.customer-dropdown .customer-wrap .customer a {
  display: block;
  padding: 0 5px;
  text-align: left;
  color: #999;
}

.customer-dropdown .customer-wrap .customer a:hover {
  color: #f10215;
  background-color: #fff;
}

.customer-dropdown .customer-wrap .customer-bold {
  color: #666;
  font-weight: bold;
  width: 140px;
  padding: 0 5px;
}

/*头部搜索栏*/
.header {
  height: 140px;
}

.header-w {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.header-w .logo {
  width: 190px;
  height: 170px;
  position: absolute;
  left: 0;
  top: -30px;
  background-color: pink;
}

.header-w .search {
  display: block;
  width: 550px;
  height: 35px;
  position: absolute;
  left: 320px;
  top: 25px;
}

.header-w .search .search-input {
  width: 450px;
  height: 100%;
  outline: none;
  padding: 0 40px 0 5px;
  color: #999;
}

.header-w .search .search-icon {
  display: inline-block;
  width: 50px;
  height: 100%;
  background-color: red;
  vertical-align: top;
  text-align: center;
  line-height: 35px;
}

.header-w .search .search-icon .icon-search {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin-top: 3px;
}

.header-w .search .icon-zhaoxiangji {
  position: absolute;
  top: 6px;
  right: 64px;
  font-size: 24px;
  color: #999;
}

.header-w .cart {
  display: block;
  width: 190px;
  height: 35px;
  position: absolute;
  right: 99px;
  top: 25px;
  background-color: #fff;
  text-align: center;
  line-height: 35px;
  color: #f10215;
}

.header-w .cart .cart-txt {
  margin-left: 5px;
}

.header-w .cart .badge {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 8px;
  text-align: center;
  line-height: 16px;
  color: #fff;
  background-color: #f10215;
  position: absolute;
  top: 6px;
  right: 30px;
}

.header-w .hotwords {
  width: 550px;
  position: absolute;
  left: 320px;
  top: 65px;
}

.header-w .hotwords a {
  font-size: 10px;
  color: #999;
  margin-left: 5px;
}

.header-w .hotwords .hot {
  color: #f10215;
}

.header-w .header-nav {
  width: 790px;
  height: 60px;
  position: absolute;
  left: 200px;
  bottom: 0;
  overflow: hidden;
}

.header-w .header-nav .header-nav-group {
  float: left;
  margin-top: 25px;
}

.header-w .header-nav .header-nav-group li {
  float: left;
  margin-left: 25px;
}

.header-w .header-nav .header-nav-group li a {
  color: #999;
}

.header-w .header-nav .header-nav-group li a:hover {
  color: #f10215;
}

.header-w .header-nav .split1 {
  float: left;
  margin-left: 25px;
  margin-top: 30px;
}

/*主体内容*/
.content-wrap {
  position: relative;
}

.content-wrap .content {
  width: 1190px;
  height: 480px;
  position: relative;
  margin: 0 auto;
}

/*左侧导航*/
.sidebar {
  background-color: #636363;
  border-top: 1px solid #eee;
  position: relative;
}

.sidebar .col1-list {
  height: 480px;
  padding-top: 6px;
}

.sidebar .col1-list .col1-item {
  height: 26px;
  line-height: 26px;
  padding-left: 18px;
}

.sidebar .col1-list .col1-item:hover {
  background-color: #d9d9d9;
}

.sidebar .col1-list .col1-item a {
  color: #626262;
}

.sidebar .col1-list .col1-item a:hover {
  color: #f10215;
}

.sidebar .col1-list .col1-item .split3 {
  color: #626262;
}

/*左侧导航弹出菜单*/
.sidebar-pop-wrap {
  width: 798px;
  height: 560px;
  min-height: 478px;
  background-color: #fff;
  border: 1px solid #f7f7f7;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 190px;
  top: 0;
}

/*右侧主体列*/
.con-col1, .con-col2, .con-col3, .con-col4 {
  height: 480px;
  background-color: #fff;
}

.con-col1, .con-col2, .con-col3 {
  margin-right: 10px;
  float: left;
}

.con-col4 {
  float: right;
}

.con-col1, .con-col2, .con-col4 {
  width: 190px;
}

.con-col3 {
  width: 590px;
}
