/* sass自定义 */
$grey: #999;
$hot-red: #f10215;

// 顶端下拉菜单当前项
%sc-dropdown-cur {
    width: 60px;
    text-align: center;
    padding-left: 5px;
    color: $grey;
}

// 顶端导航下拉菜单
@mixin sc-dropdown-wrap($width, $left: 0) {
    position: absolute;
    top: 30px;
    left: $left;
    z-index: 1;
    border: 1px solid #ddd;
    border-top-color: transparent;
    background-color: #fff;
    width: $width;
    padding: 5px;
}

// 顶端导航下拉菜单项
@mixin sc-dropdown-item($width, $height, $bgc: #fff, $align: left) {
    float: left;
    margin: 0 5px;
    width: $width;
    height: $height;
    a {
        display: block;
        padding: 0 5px;
        text-align: $align;
        color: $grey;

        &:hover {
            color: $hot-red;
            background-color: $bgc;
        }
    }
}

// 顶端导航下拉菜单中横向分割线
%split2{
    float: left;
    height: 1px;
    width: 100%;
    margin: 5px 0;
    border-top: 1px solid #eee;
}